@import url("header.css");
@import url("cautionBasics.css");

.container {
    display: flex;
    margin-top: -5%;
}

aside {
    flex: 1;
    background-color: rgb(245, 182, 171);
    background-image: url("https://i.pinimg.com/originals/51/a6/b8/51a6b8f8622a057a54a2e6adf03d4c30.jpg");
    margin: 2%;
    font-family: 'Cookie', cursive;
}


body {
    margin: 0;
    background-image: url("/images/furby-background.jpeg");
}
