@import url("header.css");
@import url("cautionBasics.css");


header {
border: solid goldenrod;
}

.container {
display: flex;
}

article {
border: solid goldenrod;
flex: 3;
justify-content: space-around;
}

aside {
border: dotted 2px goldenrod;
flex: 1;
}
